.main{
    padding: 2rem;
    background-color: #d3b5e5;
    padding-left: 15%;
    padding-right: 15%;
}
.title{
    letter-spacing: 0.3rem;
    text-align: center;
    font-size: 3rem;
}
.pt1{
    display: flex;
    padding: 1rem;
    background-color: #ffd4db;
    margin: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.4rem 0  rgb(141, 141, 141);
}
.pt2{
    display: flex;
    background-color: #ffaebc;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.4rem 0  rgb(141, 141, 141);
}
::-webkit-details-marker{
    display: none;
}
summary{
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.text{
    font-size: 1.3rem;
}