/* ***************************** HOME PAGE *************************************** */

.admin-home{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.admin-welcome{
    text-align: center;
}

.admin-home-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem 5rem 0rem 5rem;
    padding-top: 3rem;
}

.content-div h2{
    padding: 1rem 0rem 1rem 0rem;
}

.admin-user{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0rem 0rem 0rem 2rem;
}

.admin-product{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0rem 0rem 0rem 2rem;
}

.card{
    width: 20rem;
    height: 15rem;
    padding: 1rem;
    margin: 0rem 7rem 2.8rem 0rem;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #50bfff33;
    border: 0.29rem solid #FFFFFF;
    border-top: 0.29rem solid #8A2BE2;
}

.card:hover{
    border: 0.29rem solid #8A2BE2;
}

.card p{
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
}

.svg img{
    width: 6rem;
    padding: 1rem;
}

.list{
    filter: invert(55%) sepia(13%) saturate(2188%) hue-rotate(217deg) brightness(83%) contrast(83%);
}

.ban{
    filter: invert(44%) sepia(8%) saturate(450%) hue-rotate(166deg) brightness(97%) contrast(86%);
}

.cycle{
    filter: invert(58%) sepia(69%) saturate(3569%) hue-rotate(83deg) brightness(122%) contrast(100%);
}

/* ***************************** upcoming PRODUCT LIST PAGE *************************************** */
.product-list{
    min-height: 95vh;
}


.list-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.list-links a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 0.4rem;
}

.active{
    background-color: #50bfff33;
}

.list-table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

th{
    text-align: left;
}

.ua-product-no{
    width: 5rem;
}

.ua-product-name{
    width: 28rem;
}

.product-upload-list{
    width: 20rem;
}

.ua-delete{
    width: 12rem;
}


.delete-cell{
    display: flex;
    justify-content: space-around;
}

.delete-cell a img{
    filter: invert(40%) sepia(91%) saturate(3410%) hue-rotate(333deg) brightness(96%) contrast(115%);
}

.upcoming-product-list{
    width: 65rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    
}


/* ***************************** ongoing PRODUCT LIST PAGE *************************************** */

.og-product-list{
    font-size:1.2rem ;
    width: 75rem;
    padding: 1rem 0rem 2.9rem 0rem;
}

.og-product-no{
    width: 5rem;
}

.og-product-name{
    width: 30rem;
}


.og-product-upload-date{
    width: 17rem;
}

.og-product-bidder{
    width: 12.8rem;
}

.og-delete{
    width: 10.2rem;
}


/* ***************************** COMPLETED AUCTION PRODUCT LIST PAGE *************************************** */

.ca-product-list{
    width: 75rem;
    font-size: 1.2rem;
    padding: 1rem 0rem 2.9rem 0rem;
}

.ca-product-no{
    width: 5rem;
}

.ca-product-name{
    width: 28rem;
}

.ca-product-upload-date{
    width: 15.8rem;
}

.ca-product-end{
    width: 15.8rem;

}

.ca-highest-bidder{
    width: 10.4rem;
}

.ca-winner-cell{
    font-weight: 900;
    color: #08af02;

}


/* *****************************  PRODUCT LIST PAGE all *************************************** */

td,th{
    padding: 0.5rem;
}

th{
    border-bottom: 1px solid black;
}



/* ************************ feedback ******************************** */

.bg-yellow{
    background-color: #fffc323b;
}

.bg-green{
    background-color: #00ff0d36;
}


.admin-feedback{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem 2rem 0rem;
}

.feedback-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.9rem;
}

.feedback-container{
    width: 60rem;
    padding: 0.8rem;
    margin: 1rem;
    border: 2px solid #000000;
    border-radius: 0.4rem;
}

.admin-feedback h1{
    text-align: center;
    padding-top: 0.8rem;
}

.feedback-item-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-item-one ul{
    display: flex;
    flex-direction: row;
    width: 22rem;
}

.feedback-item-one ul li{
    list-style: none;
    padding: 0rem 0rem 0.5rem 2rem;
    display: flex;
    flex-direction: row;
}

.second-item{
    padding-left: 2.9rem;
}


.feedback-item-two{
    padding: 0.5rem 0rem 0rem 0rem;
    border-top: 1px solid #000000;
}

.status-form{
    display: flex;
    width: 18rem;
    justify-content: space-around;
    margin-bottom: 0.29rem;
}

.status-form select{
    width: 7.5rem;
}

.status-form select, button{
    padding: 0.29rem ;
    border-radius: 00.2rem;
    background-color: #0000001e;
    font-size: 1rem;
}

/* ************************ User List ******************************** */
.admin-account-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.admin-account-list h1{
    padding: 1.5rem;
}

.user-list{
    width: 75rem;
    padding-bottom: 2rem;
}

.user-id{
    width: 5rem;
}

.user-username{
    width: 11rem;
}

.user-email{
    color: #000000;
}

.ban-user{
    width: 8rem;
    align-items: center;
}

.trash{
    width: 1.8rem;
}


/* ************************ address apparoval ******************************** */

.username{
    font-weight: 900;
}

.user-address{
    display: flex;
    flex-direction: row;
    padding-top: 0.4rem;
}

.user-address > *{
    min-height: 1rem;
}



.address-written{
    flex-basis: 80%;
    padding: 0.8rem 0rem 0.8rem 5rem;
    border-top: 1px solid #000000cc;
    border-right: none;
    border-bottom: 1px solid #000000cc;
    border-left: 1px solid #000000cc;
}

.address-document{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000000cc;
    border-right: 1px solid #000000cc;
    border-bottom: 1px solid #000000cc;
    border-left: 1px solid #000000cc;
}

.address-document a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.address-document a img{
    width: 2rem;
}

.address-document a p{
    padding: 0.5rem 0rem 0rem 0rem;
    color: #000000;
}



/* ************************ common styling of the site ******************************** */
.svg-green{
    filter: invert(76%) sepia(13%) saturate(2058%) hue-rotate(84deg) brightness(91%) contrast(84%);
}


.svg-red{
    filter: invert(30%) sepia(95%) saturate(2723%) hue-rotate(340deg) brightness(113%) contrast(101%);
}

.no-anchor{
    text-decoration: none;
    color: #000000;
}