{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Adminstyle.css' %}">
{% endblock head %}

{% block title %}
Artoction Admin | Ongoing Auctions
{% endblock title %}

{% block content %}

<div class="product-list">
    <div class="list-links">
        <a href="{% url 'adminUpcoming' %}">Upcoming Auctions</a>
        <a href="{% url 'adminOngoing' %}" class="active">Ongoing Auctions</a>
        <a href="{% url 'adminCompleted' %}">Completed Auctions</a>
    </div>
    <div class="list-table">
        <table class="og-product-list">
            <colgroup>
                <col class="og-product-no">
                <col class="og-product-name">
                <col class="og-product-upload-date">
                <col class="og-highest-bidder">
                <col class="og-delete">
            </colgroup>
            <thead>
                <th>P.No</th>
                <th>Product Name</th>
                <th>Date of product upload</th>
                <th>Highest Bidder</th>
                <th>Delete Product</th>
            </thead>
            <tbody>
                <!-- loop here  -->
                {% for product in products %}
                <tr>
                    <td><a class="no-anchor"href="{% url 'product' product.pk %}">{{ product.pk }}</a></td>
                    <td><a class="no-anchor" href="{% url 'product' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.upload_date }}</td>
                    {% if not product.current_bidder %}
                    <td>None</td>
                    {% else %}
                    <td>{{ product.current_bidder }}</td>
                    {% endif %}
                    <td class="delete-cell">
                        <a href="{% url 'removeProduct' product.pk %}">
                            <img src="{% static 'img/trash3.svg' %}" alt="">
                        </a>
                    </td>
                </tr>
                {% endfor %}

                <!-- loop ends here -->

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}