{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Adminstyle.css' %}">
{% endblock head %}

{% block title %}
Artoction Admin | Upcoming Auctions
{% endblock title %}

{% block content %}

<div class="product-list">
    <div class="list-links">
        <a href="{% url 'adminUpcoming' %}" class="active">Upcoming Auctions</a>
        <a href="{% url 'adminOngoing' %}">Ongoing Auctions</a>
        <a href="{% url 'adminCompleted' %}">Completed Auctions</a>
    </div>
    <div class="list-table">
        <table class="upcoming-product-list">
            <colgroup>
                <col class="ua-product-no">
                <col class="ua-product-name">
                <col class="ua-product-upload-date">
                <col class="ua-delete">
            </colgroup>
            <thead>
                <th>P.No</th>
                <th>Product Name</th>
                <th>Date of product upload</th>
                <th>Delete Product</th>
            </thead>
            <tbody>
                <!-- loop here  -->
                {% for product in products %}
                <tr>
                    <td><a class="no-anchor"href="{% url 'product' product.pk %}">{{ product.pk }}</a></td>
                    <td><a class="no-anchor" href="{% url 'product' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.upload_date }}</td>
                    <td class="delete-cell">
                        <a href="{% url 'removeProduct' product.pk %}">
                            <img src="{% static 'img/trash3.svg' %}" alt="">
                        </a>
                    </td>
                </tr>
                {% endfor %}
                <!-- loop ends here -->

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}