{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Adminstyle.css' %}">
{% endblock head %}

{% block title %}
Artoction Admin | Ongoing Auctions
{% endblock title %}

{% block content %}

<div class="product-list">
    <div class="list-links">
        <a href="{% url 'adminUpcoming' %}">Upcoming Auctions</a>
        <a href="{% url 'adminOngoing' %}">Ongoing Auctions</a>
        <a href="{% url 'adminCompleted' %}" class="active">Completed Auctions</a>
    </div>
    <div class="list-table">
        <table class="ca-product-list">
            <colgroup>
                <col class="ca-product-no">
                <col class="ca-product-name">
                <col class="ca-product-upload-date">
                <col class="ca-bidding-end">
                <col class="ca-highest-bidder">
            </colgroup>
            <thead>
                <th>P.No</th>
                <th>Product Name</th>
                <th>Date of product upload</th>
                <th>End of bidding</th>
                <th>Auction Winner</th>
            </thead>
            <tbody>
                <!-- loop here  -->
                {% for product in products %}
                <tr>
                    <td><a href="{% url 'product' product.pk %}">{{ product.pk }}</a></td>
                    <td><a href="{% url 'product' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.upload_date }}</td>
                    <td>{{ product.last_bid_date }}</td>
                    {% if not product.current_bidder %}
                    <td style="color:red">None</td>
                    {% else %}
                    <td class="ca-winner-cell">{{ product.current_bidder }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <!-- loop ends here -->
                

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}