{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Adminstyle.css' %}">
{% endblock head %}

{% block title %}
Artoction Admin
{% endblock title %}

{% block content %}

<div class="admin-home">
    <h1 class="admin-welcome"> Artoction Administration</h1>
    <div class="admin-home-content">
        <div class="card">
            <div class="svg">
                <img class="list" src="{% static 'img/list-columns-reverse.svg' %}" alt="">
            </div>
            <p class=""> <a href=""> Product List </a></p>
        </div>
        <div class="card">
            <div class="svg">
                <img class="ban" src="{% static 'img/person-lines-fill.svg' %}" alt="">
            </div>
            <p class=""> <a href=""> User List </a></p>
        </div>
        <div class="card">
            <div class="svg">
                <img class="cycle" src="{% static 'img/arrow-repeat.svg' %}" alt="">
            </div>
            <p class=""> <a href="{% url 'cycle' %}"> Cycle product </a></p>
        </div>
    </div>
</div>
{% endblock content %}