{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Adminstyle.css' %}">
{% endblock head %}

{% block title %}
Artoction | Address Verification
{% endblock title %}

{% block content %}
<div class="admin-feedback">
    <h1>Pending Address Apparovals</h1>
    <div class="feedback-list">
        {% for address in plist %}
        <div class="feedback-container">
            <div class="feedback-item-one">
                <ul>
                    <li class="username">{{ address.user.username }}</li>
                    <li class="second-item">{{ address.user.email }}</li>
                    <li></li>
                </ul>
                <form action="{% url 'addressStatus' address.pk %}" method="post" class="status-form">
                    {% csrf_token %}
                    <select name="status" id="">
                        <option value="apparove">Apparove</option>
                        <option value="reject">Reject</option>
                    </select>
                    <button type="submit">Change status</button>
                </form>
            </div>
            <div class="user-address">
                <div class="address-written">
                    <p>{{ address.address_line_one }}</p>
                    <p>{{ address.address_line_two }}</p>
                    <p>{{ address.address_line_three }}</p>
                    <p>{{ address.address_line_four }}</p>
                </div>
                <div class="address-document">
                    <a href="static/{{ address.address_proof }}" target="blank">
                        <img src="img/box-arrow-up-right.svg" alt="">
                        <p>Open Do cument</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}