{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Adminstyle.css' %}">
{% endblock head %}

{% block title %}
Artoction | Address Verification
{% endblock title %}

{% block content %}
<div class="admin-feedback">
    <h1>Pending Address Apparovals</h1>
    <div class="feedback-list">
        {% for address in plist %}
        <div class="feedback-container">
            <div class="feedback-item-one">
                <ul>
                    <li class="username">USERNAME</li>
                    <li class="second-item">EMAIL</li>
                    <li></li>
                </ul>
                <form action="" method="post" class="status-form">
                    <select name="status" id="">
                        <option value="apparove">Apparove</option>
                        <option value="reject">Reject</option>
                    </select>
                    <button type="submit">Change status</button>
                </form>
            </div>
            <div class="user-address">
                <div class="address-written">
                    <p>Address Line one </p>
                    <p>address Line two</p>
                    <p>Some majour or minor city</p>
                    <p>One of the states of India</p>
                </div>
                <div class="address-document">
                    <a href="" target="blank">
                        <img src="img/box-arrow-up-right.svg" alt="">
                        <p>Open Document</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}