{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="ongoingcontext">
    <!-- completed auction page -->
    <h1 class="ongoinghead">Completed Auction Listing</h1>
    <div class="prodllist">
        <!-- Start for loop here for the object list recieved  -->
        {% for product in completed %}
        <div class="product">
            <div class="productimg">
                <img src="/static/{{ product.image1 }}" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ product.name }}</li>
                    <li>Sold : {{ product.current_price }}</li>
                    {% if not product.current_bidder %}
                        <li>Sold to : Not Sold </li>                        
                        {% else %}
                        <li>Sold to : {{ product.current_bidder }}</li>                        
                        {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
        <!-- product list for loop ends here -->
    </div>
</div>

{% endblock content %}