{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ongoingcontext">
    <h1 class="ongoinghead">Live Auctions</h1>
    <div class="prodllist">
        <!-- Start for loop here for the object list recieved  -->
        {% for product in ongoing %}
            <div class="product">
                <div class="productimg">
                    <img src="/static/{{ product.image1 }}" alt="">
                </div>
                <div class="productdes">
                    <ul>
                        <li>{{ product.name }}</li>
                        <li>INR : {{ product.current_price }}</li>
                        {% if not product.current_bidder %}
                        <li>Highest bid : None</li>                        
                        {% else %}
                        <li>Highest bid : {{ product.current_bidder }}</li>                        
                        {% endif %}
                        <li class="productbid"><a href="{% url 'product' product.pk %}"> BID NOW</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        
        <!-- product list for loop ends here -->
        
    </div>
</div>
{% endblock content %}