{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ongoingcontext">
    <h1 class="ongoinghead">Live Auctions</h1>
    <div class="prodllist">
        <!-- Start for loop here for the object list recieved  -->
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <!-- product list for loop ends here -->
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
        <div class="product">
            <div class="productimg">
                <img src="https://picsum.photos/250/250" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ title }}</li>
                    <li>INR : {{ price }}</li>
                    <li>Highest bid : {{ buyer }}</li>
                    <li class="productbid"><a href="product"> BID NOW</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}