{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="prodcont">
    <div class="prod" id="prod">
        <div class="prodimg">
            <div class="carousel-container">
                <!-- for loop here  -->
                <div class="mySlides animate">
                    <img src= "/static/{{ this.image1 }}"  alt="slide" />
                </div>

                <div class="mySlides animate">
                    <img src= "/static/{{ this.image2 }}" alt="slide" />
                </div>

                <div class="mySlides animate">
                    <img src= "/static/{{ this.image3 }}" alt="slide" />
                </div>

                <div class="mySlides animate">
                    <img src= "/static/{{ this.image4 }}" alt="slide" />
                </div>

                <div class="mySlides animate">
                    <img src= "/static/{{ this.image5 }}" alt="slide" />
                </div>
                <!-- for loop till here -->

                <!-- Next and previous buttons -->
                <a class="prev" onclick="prevSlide()">&#10094;</a>
                <a class="next" onclick="nextSlide()">&#10095;</a>

                <!-- The dots/circles -->
                <div class="dots-container">
                    <span class="dots" onclick="currentSlide(1)"></span>
                    <span class="dots" onclick="currentSlide(2)"></span>
                    <span class="dots" onclick="currentSlide(3)"></span>
                    <span class="dots" onclick="currentSlide(4)"></span>
                    <span class="dots" onclick="currentSlide(5)"></span>
                </div>
            </div>
        </div>
        <div class="prodtir">
            <div class="pintro">
                <h1 class="prodt">{{ this.name }}<br>---------------------------------</h1>
                <p>&nbsp; Listed by : {{ this.listedBy }} </p>
            </div>
            <div class="pcrp">
                <ul>
                    <li>Current pricing : INR {{ this.current_price }}</li>
                    <li>By : {{ this.current_bidder }}</li>
                </ul>
                <h3>Bid your price </h3>
                <form action="" method="post">
                    <label for="yourbid">Append price with my bid : </label><br>
                    <input type="text" id="yourbid"><br>
                    <button>Update</button> {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <div class="proddes">
        <h2>Notes from item owner </h2>
        <p>{{ this.notesByLister }}</p>
    </div>
</div>


{% endblock content %}