{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ongoingcontext">
    <!-- completed auction page -->
    <h1 class="ongoinghead">Upcoming Auctions</h1>
    <div class="prodllist">
        <!-- Start for loop here for the object list recieved  -->
        {% for product in upcoming %}
        <div class="product">
            <div class="productimg">
                <img src="/static/{{ product.image1 }}" alt="">
            </div>
            <div class="productdes">
                <ul>
                    <li>{{ product.name }}</li>
                    <li>Starting Price {{ product.current_price }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
        <!-- product list for loop ends here -->
        
    </div>
</div>
{% endblock content %}