{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="account">
    <div class="profile">
        <div class="prof">
            {% if not user.profile_image %}
                <img src="https://picsum.photos/150/150" alt="">
            {% else %}
                <img src="/static/{{ user.profile_image }}">
            {% endif %}
        </div>
        <div class="profd">
            <ul>
                <li><h1>{{ user.username }}</h1></li>
                <li><h3>no of product listed : {{ count }} </h3></li>
            </ul>
        </div>
    </div>
    <div class="prodcont">
        <!-- start for loop here for listing of sold products -->

        {% for product in products %}
        <a href="{% url 'product' product.pk %}" class="preproda">
            <div class="prodlist">
                <div class="listimg">
                    <img src="/static/{{ product.image1 }}" alt="">
                </div>
                <div class="listdetail">
                    <ul>
                        <li>
                            <h2>{{ product.name }}</h2>
                        </li>
                        <li>Sold Price : INR  {{ product.current_price }}</li>
                        <li>Sold to : {{ product.current_bidder }}</li>
                        <li>Upload date : {{ product.upload_date }}</li>
                    </ul>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}
