{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="activate">
    <h1>Activate your account after submitting your address and document proof</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="div-address">
            <label for="address">Enter your address</label>
            <input type="text" name="addLine1" placeholder="Address line 1" required>
            <input type="text" name="addLine2" placeholder="Address line 2" required>
            <input type="text" name="addLine3" placeholder="Address line 3" required>
            <input type="text" name="addLine4" placeholder="Address line 4" required>
            {% csrf_token %}    
        </div>
        <div class="div-proof">
            <label for="doc">Attach address proof</label>
            <input type="file" name="doc" id="" required>
        </div>
        <div class="read-hiw">
            <input type="checkbox" name="agree" id="" required>
            <label for="agree">I have read <a href="" class="hiwa" target="blank">how it works</a>.</label>
        </div>
        
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock content %}