{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="account">
    <div class="profile">
        <div class="prof">
            {% if not user.profile_image %}
                <img src="https://picsum.photos/150/150" alt="">
            {% else %}
                <img src="/static/{{ user.profile_image }}">
            {% endif %}
        </div>
        <div class="profd">
            <ul>
                <li><h1>{{ user.username }}</h1></li>
                <li><h3>no of product listed : {{ count }} </h3></li>
            </ul>
        </div>
        {% if request.user.is_authenticated and sameuser %}
        <div class="account-cc">
            <ul>
                <li><form action="{% url 'changePassword' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Change Password</button>
                </form></li>
                <li><a href="">Change Address</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="change-credentials">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="div-address-update">
                <label for="address">Enter your address</label>
                <input type="text" name="addLine1" placeholder="Address line 1">
                <input type="text" name="addLine2" placeholder="Address line 2">
                <input type="text" name="addLine3" placeholder="Address line 3">
                <input type="text" name="addLine4" placeholder="Address line 4">
            </div>
            <div class="div-proof">
                <label for="verifydoc">Attach address proof</label>
                <input type="file" name="verifydoc" id="">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}


