{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="register">
    <form action="" class="registerForm" method="post">{% csrf_token %}
        {% comment %} <input type="email" name="" id="email" placeholder="Email"> {% endcomment %}
        <input type="email" name="email" id="username" placeholder="Enter Your Email" required>
        <button type="submit">Reset Password</button>
    </form>
    <div class="rlopt">
        <ul>
            <li ><a href="{% url 'login' %}">Login</a></li>
            <li ><a href="{% url 'register' %}">Register</a></li>
        </ul>
        <span class="ractive"><a href="{% url 'forgotPassword' %}">Forgot Password</a></span>
    </div>
</div>
{% endblock content %}