{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="register">
    <form action="" class="registerForm" method="post">{% csrf_token %}
        {% comment %} <input type="email" name="" id="email" placeholder="Email"> {% endcomment %}
        <input type="text" name="username" id="username" placeholder="User Name">
        <input type="password" name="password1" id="password1" placeholder="Password">
        
        <button type="submit">Login</button>
    </form>
    <div class="rlopt">
        <ul>
            <li ><a href="login">Login</a></li>
            <li class="ractive"><a href="register">Register</a></li>
        </ul>
    </div>
</div>
{% endblock content %}