{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>How It Works</title>
    <link rel="stylesheet" href=" {% static 'css/page.css' %}">
    <link rel="shortcut icon" href={% static 'img/auctioneer.png' %} type="image/x-icon">
</head>
<body>
    <section class="main">
        <div class="title">
            How  KEIBAI  Works!
        </div>
            <div class="pt2">
                <div class="text">
                    <h1>What is KEIBAI?</h1>
                    KEIBAI is an online auction house specializing in better works of art. Several top pieces are offered monthly at the best dealer prices.
                    
                    <h1>How Auctions works?</h1>
                    Internet auctions are like giant online flea markets. Sellers may offer one item at a time or multiple lots of the same item. In theory, online auctions run much like local auctions, but behind the scenes, there is ongoing data collection. Just like local auctions, there are sellers and bidders -- and winners and losers. Winners are expected to pay for what they bid on at the conclusion of the auction. But that is where the similarities between online and local auctions end.
                    
                    <h1>Registration for Online Auction Sites</h1>
                    t online auctions, you will be required to register before you can buy or sell an item(s). Registration is required to track items you bid on or sell, keep up with the bids, determine the winning bids.

                    <h1>Winning Bids</h1>
                    The bidding for each auction closes at the scheduled time. In the case of sales of multiple lots, the participants with the highest bids at the close of the auction are obligated to buy the items. If no one bids at or above the reserve price, the auction closes without a winner. At the close of a successful auction, the buyer and seller communicate, usually by email, to arrange for payment and delivery of the goods.

                    <h1>Things to explore here!</h1>
                    1. You can Login as <b>buyer</b> or <b>seller</b>.<br>
                    2. Go through our upcoming auctions and bid when the art is live.<br>
                    3. Oh! You missed it! Want to know about the highest bid/ bidder! Go though the completed auctions.<br>
                    4. Want to sell art? Upload your product by visiting  (____ page).<br>
                    5. See your art on Upcoming auctions. If not found! Do Contact Us
                </div>
            </div>
            
    </section>
    
</body>
</html>