{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <div class="content" id="content">
        <div class="hero" style="background-image: url({% static 'img/marion_sharbanidasgupta_ld_8622.jpg' %});">
            <div class="heroone">
                <span class="htitle">Welcome to Artoction</span>
                <span class="hintro">A place where you can buy paintings, pots, <br>
                                    vases, sculptures, wooden carbings, <br>
                                    stone carvings and much more ... 
                </span>
                <span class="hsb">
                    {% if request.user.is_authenticated %}
                    <a class="bidlink" href="{% url 'auctions' %}">
                        Start Bidding &nbsp; &#10095;
                    </a>
                    {% else %}
                    <a class="bidlink" href="{% url 'login' %}">
                        Login to bid &nbsp; &#10095;
                    </a>
                    {% endif %}
                </span>

            </div>
        </div>


        <div class="test" id="test">
            <div class="thead" id="thead">
                <h2 class="th" id="th">Testimonial</h2>
            </div>
            <div class="tlist" id="tlist">
                <div class="tlc" id="tlc1">
                    <img src="./img/avatar.svg" alt="" class="tlci">
                    <p class="tlcd">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis doloribus eos nulla
                        inventore optio mollitia nisi eaque possimus dignissimos odit.
                    </p>
                </div>
                <div class="tlc" id="tlc2">
                    <img src="./img/avatar.svg" alt="" class="tlci">
                    <p class="tlcd">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis doloribus eos nulla
                        inventore optio mollitia nisi eaque possimus dignissimos odit.
                    </p>
                </div>
                <div class="tlc" id="tlc3">
                    <img src="./img/avatar.svg" alt="" class="tlci">
                    <p class="tlcd">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis doloribus eos nulla
                        inventore optio mollitia nisi eaque possimus dignissimos odit.
                    </p>
                </div>
            </div>
        </div>


    </div>

    {% endblock content %}