.main{
    padding: 2rem;
    background-color: #d3b5e5;
}
.title{
    letter-spacing: 0.3rem;
    text-align: center;
    font-size: 3rem;
}

.pt2{
    display: flex;
    background-color: #ffaebc;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.4rem 0  rgb(141, 141, 141);
}

.text{
    width: 100%;
    margin: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
}
